body{
    max-width: 960px;
    margin: 0 auto;
}

.title,h2,.result1,.result2{
    text-align: center;
    margin: 0px;
}



.title {
    border: double 10px hsl(0, 98%, 51%);
    background-color:#f8fc09;
    background-clip:padding-box;
 
}

.ranking,.ranking1,.ranking2{
    display: flex;
    /*gap: 5px;*/
    border: solid 2px #f8fc09;
}



.explain1{
    background-color: #f8fc09;
    flex: 1 0 1px;
}
.explain2{
    background-color: #f8f;
    flex: 1 0 1px;
}

/*span要素で開業を優先する*/
span{
    display: inline-block
}

/*文字フォント*/
p,h1,h2{
    font-size: 1rem;
}



@media(max-width: 480px) {
    .ranking,.ranking1,.ranking2{
        display: block;
        
    }

}
    



/*背景の色づけ*/
html,body,.site_base{
    height:100%;
}
.site_base{
    background-color:#F1F1F1;
}
.article{
    background:white;
    margin:50px 15px;
    padding: 0 10px;
}