body{
    max-width: 960px;
    margin: 0 auto;
}

nav{
    margin: 20px;
}

h2,.result1,.result2{
    text-align: center;
    margin: 0px;
}



#title {
    margin-top: 20px;
    font-family: "メイリオ";
    position: relative;
}

.background_img{
    width: 100%;
    height: 200px;
}

.title{
    font-size: 180%;
}
.title_word{
    position: absolute;
    top: 0ex;
    left: 50px;
    color: white;

}
.quiz,.quiz_ranking{
    padding-right: 10px;
}

h2{
    border-top:dotted  2px grey;
    border-bottom: dotted 2px grey;
    background-clip:padding-box;
    background-color: #92e6ff;
    padding: 10px 0;
    color: white;
    font-weight: 400;
}
.result1,.result2,ol{
    background-color: rgb(255, 243, 255);
    margin: 0px;
}
.ranking2{
    margin-top:20px ;
}





/*span要素で開業を優先する*/
span{
    display: inline-block
}

/*文字フォント*/
.update{
    font-size: 10px;
}

.num{
    font-weight: bold;
    color:red ;
}



@media(max-width: 480px) {
}
    



/*背景の色づけ*/
html,body,.site_base{
    height:100%;
}
.site_base{
    min-height: 100%;
    height: auto;
}
.site_base{
    background-color:#F1F1F1;
}

.article{
    background:white;
    margin:50px 15px;
    padding: 10px;
}

.comment{
    margin-top: 10px;
    text-align: center;

}
.word_explain{
    margin-top: 50px;
}
.rate,.charange{
    margin-top: 10px;
}
